@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio {
    padding: 4rem 0;

    button {
        text-transform: capitalize;
    }
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to new lines */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    justify-content: space-between; /* Distributes items evenly */
    align-items: stretch; /* Ensures equal height */
}

/* Portfolio Box Styling */

/* Responsive Column Sizing */
@media (max-width: 767px) { /* Small screens (1 column) */
    .portfolio-box {
        flex: 1 1 100%; /* Full width */
    }
}

@media (min-width: 768px) and (max-width: 1023px) { /* Medium screens (2 columns) */
    .portfolio-box {
        flex: 1 1 calc(50% - 20px); /* 2 columns */
    }
}

@media (min-width: 1024px) { /* Large screens (3 columns) */
    .portfolio-box {
        flex: 1 1 calc(33.333% - 20px); /* 3 columns */
    }
}